.chefs {
  margin-top: 30px;
  display: flex;
  flex-flow: wrap;
  gap: 40px 20px;
}

.chef {
  width: 100%;
  max-width: 241px;
  display: flex;
  justify-content: center;
}

.chef img {
  width: 64px;
  height: 64px;
  margin-right: 20px;
  object-fit: cover;
  box-shadow: 3px 3px 4px 1px #acacac;
  border-radius: 50%;
}

.chef-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chef-content strong {
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
}

.chef-content button {
  margin-top: 5px;
}

.chef-content a {
  font-size: 14px;
  color: #6558C3;
}