{% import '../../components/inputContainer.njk' as field %}
{% import '../../components/photosUploadContainer.njk' as container %}

{% macro fields(title, recipe, isDelete, hasAddInputButton, chefs) %}

  <div class="header-section">
    <h1>{{ title }}</h1>

    <div class="header-buttons">
      {% if isDelete %}
        <button class="btn-delete confirm-remove" type="button" onclick="ModalDelete.active()">Deletar</button>
      {% endif %}

      <div class="login-buttons">
        <button type="submit">Salvar receita</button>
      </div>
    </div>
  </div>

  <div id="form-recipe">
    <div class="field-container photo-recipe-container">
      {{ container.photos(recipe, 'recipes') }}
    </div>

    <div class="field-container">
      <label>Título da receita</label>

      {{ field.input('text', 'title', recipe.title, '') }}
    </div>

    <div class="field-container">
      <label for="chef">Chef</label>

      <select name="chef_id" id="chef">
        <option class="select-option" value="">Selecione um chef</option>
        {% for chef in chefs %}
          <option value="{{ chef.id }}" {% if chef.id === recipe.chef_id %} }="}" selected="selected" {% endif %}>{{ chef.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="field-container">
      <label>Ingredientes</label>

      <div id="ingredients">
        {% if recipe.ingredients %}
          {% for ingredient in recipe.ingredients %}
            <div class="ingredient">
              {{ field.input('text', 'ingredients[]', ingredient, '') }}
            </div>
          {% endfor %}
        {% else %}
          <div class="ingredient">
            {{ field.input('text', 'ingredients[]', '') }}
          </div>
        {% endif %}
      </div>

      {% if hasAddInputButton %}
        <button type="button" class="btn-no-background add-ingredient">Adicionar novo ingrediente</button>
      {% endif %}
    </div>

    <div class="field-container">
      <label>Modo de preparo</label>

      <div id="steps">
        {% if recipe.preparation %}
          {% for step in recipe.preparation %}
            <div class="step">
              {{ field.input('text', 'steps[]', step, '') }}
            </div>
          {% endfor %}
        {% else %}
          <div class="step">
            {{ field.input('text', 'steps[]', '') }}
          </div>
        {% endif %}
      </div>

      {% if hasAddInputButton %}
        <button type="button" class="btn-no-background add-step">Adicionar novo passo</button>
      {% endif %}
    </div>

    <div class="field-container">
      <label for="info">Informações adicionais</label>

      <textarea name="description" id="info">{{recipe.description }}</textarea>
    </div>
  </div>

{% endmacro %}