{% extends '../layout.njk' %}

{% import '../../components/areaSearch.njk' as search %}

{% block subTitle %}
  <title>Página de Receitas</title>
{% endblock subTitle %}

{% block filter %}
  {{ search.area('/admin/recipes', filter, 'Buscar pelo nome') }}
{% endblock filter %}

{% block content %}

  <section class="admin-container">
    <div class="header-section">
      {% if not filter %}
        <h1>Gerenciar receitas</h1>
      {% else %}
        <h1>Buscando por: {{ filter }}</h1>
      {% endif %}

      <a href="/admin/recipes/create">
        <button>Adicionar</button>
      </a>
    </div>

    <div class="card-recipes-container">

      {% for recipe in recipes %}
        <div class="card-recipe">
          <img src="{{ recipe.image }}" alt="{{ recipe.title }}"/>

          <div class="card-recipe-content">
            <strong>{{ recipe.title }}</strong>
            <span>por {{ recipe.chef_name }}</span>

            <button>
              <a href="/admin/recipes/show/{{ recipe.id }}">Visualizar</a>
            </button>
          </div>
        </div>
      {% endfor %}

    </div>

    {% if pagination.total > 1 %}
      <div 
        class="pagination" 
        data-page="{{ pagination.page }}" 
        data-total="{{ pagination.total }}" 
        data-filter="{{ filter }}"
      ></div>
    {% endif %}
  </section>

{% endblock content %}