{% extends '../layout.njk' %}

{% block subTitle %}
  <title>Página de Receitas</title>
{% endblock subTitle %}

{% block content %}

  <section class="admin-container">
    <div class="header-section">
      <h1>Gerenciar receitas</h1>

      <a href="/admin/users/create">
        <button>Adicionar</button>
      </a>
    </div>

    <div class="card-recipes-container">
      <div class="card-recipe">
        <img src="/img/common/burger.png" alt="Burger"/>

        <div class="card-recipe-content">
          <strong>Triplo bacon burger</strong>
          <span>por Jorge Relato</span>

          <button>
            <a href="/admin/recipes">Visualizar</a>
          </button>
        </div>
      </div>

      <div class="card-recipe">
        <img src="/img/common/burger.png" alt="Burger"/>

        <div class="card-recipe-content">
          <strong>Triplo bacon burger</strong>
          <span>por Jorge Relato</span>

          <button>
            <a href="/admin/recipes">Visualizar</a>
          </button>
        </div>
      </div>

      <div class="card-recipe">
        <img src="/img/common/burger.png" alt="Burger"/>

        <div class="card-recipe-content">
          <strong>Triplo bacon burger</strong>
          <span>por Jorge Relato</span>

          <button>
            <a href="/admin/recipes">Visualizar</a>
          </button>
        </div>
      </div>

      <div class="card-recipe">
        <img src="/img/common/burger.png" alt="Burger"/>

        <div class="card-recipe-content">
          <strong>Triplo bacon burger</strong>
          <span>por Jorge Relato</span>

          <button>
            <a href="/admin/recipes">Visualizar</a>
          </button>
        </div>
      </div>

      <div class="card-recipe">
        <img src="/img/common/burger.png" alt="Burger"/>

        <div class="card-recipe-content">
          <strong>Triplo bacon burger</strong>
          <span>por Jorge Relato</span>

          <button>
            <a href="/admin/recipes">Visualizar</a>
          </button>
        </div>
      </div>

      <div class="card-recipe">
        <img src="/img/common/burger.png" alt="Burger"/>

        <div class="card-recipe-content">
          <strong>Triplo bacon burger</strong>
          <span>por Jorge Relato</span>

          <button>
            <a href="/admin/recipes">Visualizar</a>
          </button>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}