{% extends '../layout.njk' %}
{% import './fields.njk' as recipe %}

{% block subTitle %}
  <title>Página de Edição</title>
{% endblock subTitle %}

{% block content %}

  <form class="admin-container" method="POST" action="/admin/recipes?method=PUT" enctype="multipart/form-data">
    {{ recipe.fields('Editando receita', true, false, chefs) }}
  </form>

{% endblock content %}