<script src="/js/menuLink.js"></script>
<script src="/js/redirectPage.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/toggleContentRecipe.js"></script>
<script src="/js/toastMessage.js"></script>
<script src="/js/fieldsValidator.js"></script>
<script src="/js/createFieldRecipe.js"></script>
<script src="/js/confirmModalDelete.js"></script>
<script src="/js/photosUpload.js"></script>
<script src="/js/pagination.js"></script>