{# Global #}
<link rel="stylesheet" href="/styles/global.css"/>

{# Components #}
<link rel="stylesheet" href="/styles/components/header.css"/>
<link rel="stylesheet" href="/styles/components/footer.css"/>
<link rel="stylesheet" href="/styles/components/message.css"/>
<link rel="stylesheet" href="/styles/components/inputContainer.css"/>

{# Public #}
<link rel="stylesheet" href="/styles//public/home.css"/>
<link rel="stylesheet" href="/styles//public/about.css"/>
<link rel="stylesheet" href="/styles//public/chefs.css"/>
<link rel="stylesheet" href="/styles//public/show.css"/>

{# Private #}
<link rel="stylesheet" href="/styles//private/layout.css"/>
<link rel="stylesheet" href="/styles//private/users/index.css"/>
<link rel="stylesheet" href="/styles//private/users/profile.css"/>

{# Session #}
<link rel="stylesheet" href="/styles//session/login.css"/>
<link rel="stylesheet" href="/styles//session/reset.css"/>