{% extends '../layout.njk' %}
{% import '../../components/chefsList.njk' as list %}

{% block subTitle %}
  <title>Foodfy | Chefs</title>
{% endblock subTitle %}

{% block content %}

  <section class="recipes-container">

    {{ list.chefs('/chefs/show') }}

  </section>

{% endblock content %}