{% extends './layout.njk' %}

{% block subTitle %}
  <title>Perfil | Usuário</title>
{% endblock subTitle %}

{% block content %}

  <section class="admin-container">
    <div class="header-section">
      <h1>Bem vindo Usuário</h1>

      <button type="submit">Salvar</button>
    </div>

    <form id="form-profile" method="POST" action="?">
      <div>
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Digite seu nome"/>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="exemplo@exemplo.com"/>
      </div>
      <div>
        <label for="password">Senha</label>
        <input type="password" name="password" placeholder="Digite sua senha"/>
      </div>
    </form>
  </section>

{% endblock content %}