{% extends '../layout.njk' %}
{% import './fields.njk' as profile %}

{% block subTitle %}
  <title>Página de Cadastro</title>
{% endblock subTitle %}

{% block content %}

  <form class="admin-container" method="POST" action="/admin/users">
    {{ profile.fields('Criar Usuário', '', false, true, true) }}
  </form>

{% endblock content %}