{% extends '../layout.njk' %}
{% import '../../components/confirmModalDelete.njk' as delete %}

{% block subTitle %}
  <title>Página de Usuários</title>
{% endblock subTitle %}

{% block content %}

  <section class="admin-container">
    <div class="header-section">
      <h1>Usuários</h1>

      <a href="/admin/users/create">
        <button>Novo</button>
      </a>
    </div>

    <div class="users">

      {% for user in users %}

        <div class="user">
          <strong>{{ user.name }}</strong>
          <span>{{ user.email }}</span>

          <div class="action-buttons">
            <button class="btn-no-background">
              <a href="/admin/users/update/{{ user.id }}">Editar</a>
            </button>
            <button class="btn-no-background confirm-remove" onclick="ModalDelete.active()">Remover</button>
          </div>

          {{ delete.modal('/admin/users', user) }}
        </div>

      {% endfor %}

    </div>
  </section>

{% endblock content %}