{% extends '../layout.njk' %}
{% import './fields.njk' as profile %}

{% block subTitle %}
  <title>Página de Usuários</title>
{% endblock subTitle %}

{% block content %}

  <section class="admin-container">
    <div class="header-section">
      <h1>Usuários</h1>

      <a href="/admin/users/create">
        <button>Novo</button>
      </a>
    </div>

    <div class="users">
      <div class="user">
        <strong>Rodrigo Silvério</strong>
        <span>r.souza@gmail.com</span>

        <div class="action-buttons">
          <button>
            <a href="/admin/users/update">Editar</a>
          </button>
          <button>Remover</button>
        </div>
      </div>

      <div class="user">
        <strong>Rodrigo Silvério</strong>
        <span>r.souza@gmail.com</span>

        <div class="action-buttons">
          <button>
            <a href="/admin/users/update">Editar</a>
          </button>
          <button>Remover</button>
        </div>
      </div>

      <div class="user">
        <strong>Rodrigo Silvério</strong>
        <span>r.souza@gmail.com</span>

        <div class="action-buttons">
          <button>
            <a href="/admin/users/update">Editar</a>
          </button>
          <button>Remover</button>
        </div>
      </div>

      <div class="user">
        <strong>Rodrigo Silvério</strong>
        <span>r.souza@gmail.com</span>

        <div class="action-buttons">
          <button>
            <a href="/admin/users/update">Editar</a>
          </button>
          <button>Remover</button>
        </div>
      </div>

      <div class="user">
        <strong>Rodrigo Silvério</strong>
        <span>r.souza@gmail.com</span>

        <div class="action-buttons">
          <button>
            <a href="/admin/users/update">Editar</a>
          </button>
          <button>Remover</button>
        </div>
      </div>

      <div class="user">
        <strong>Rodrigo Silvério</strong>
        <span>r.souza@gmail.com</span>

        <div class="action-buttons">
          <button>
            <a href="/admin/users/update">Editar</a>
          </button>
          <button>Remover</button>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}