{% extends '../layout.njk' %}
{% import './fields.njk' as profile %}

{% block subTitle %}
  <title>Perfil |
    {{ user.firstName }}</title>
{% endblock subTitle %}

{% block content %}

  <form class="admin-container" method="POST" action="/admin/users">
    {{ profile.fields('Bem vindo(a)', user, false, false, false) }}
  </form>

{% endblock content %}