{% extends '../layout.njk' %}
{% import './fields.njk' as profile %}

{% block subTitle %}
  <title>Perfil | Usuário</title>
{% endblock subTitle %}

{% block content %}

  <form class="admin-container" method="POST" action="/admin/users">
    {{ profile.fields('Bem vindo', user, false, false, false) }}
  </form>

{% endblock content %}