{% extends '../layout.njk' %}
{% import './fields.njk' as profile %}

{% block subTitle %}
  <title>Página de Atualização</title>
{% endblock subTitle %}

{% block content %}

  <form 
    class="admin-container" 
    method="POST" 
    action="/admin/users?_method=PUT"
  >
    <input 
      type="hidden" 
      name="id" 
      value="{{ user.id }}"
    />
    {{ profile.fields('Atualizar Usuário', user, true, false, false) }}
  </form>

{% endblock content %}