{% extends '../layout.njk' %}
{% import './fields.njk' as profile %}

{% block subTitle %}
  <title>Página de Atualização</title>
{% endblock subTitle %}

{% block content %}

  {{ profile.fields('Atualizar Usuário', user, true, false, false) }}

{% endblock content %}