.dark {
  background: #111;
}

.dark .nav-menu a {
  color: #999;
  text-transform: uppercase;
  font-size: 15px;
}

.dark .nav-menu a.activated_link {
  color: #fff;
}

.dark #form-filter input {
  color: #fff;
  background: rgba(255, 255, 255, 0.315);
  border-color: rgba(255, 255, 255, 0.089);
}

.dark #form-filter input::placeholder {
  color: rgba(255, 255, 255, 0.575);
}

.dark #form-logout {
  position: absolute;
  right: 5%;
}

.dark #form-logout button {
  min-width: initial;
  height: initial;
  background: transparent;
  border: none;
  font-weight: 500;
}