{% macro chefs(link, chefs) %}

  <div class="chefs">
    {% for chef in chefs %}

      <div class="chef">
        <img src="{{ chef.image }}" alt="{{ chef.name }}"/>

        <div class="chef-content">
          <strong>{{ chef.name }}</strong>

          <button class="btn-no-background">
            <a class="btn-no-background" href="{{ link }}">Visualizar</a>
          </button>
        </div>
      </div>

    {% endfor %}
  </div>

{% endmacro %}