{% macro chefs(link) %}

  <div class="chefs">
    <div class="chef">
      <img src="/img/common/burger.png" alt="Búrger"/>

      <div class="chef-content">
        <strong>Jorge Relato</strong>

        <button class="btn-no-background">
          <a class="btn-no-background" href="{{ link }}">Visualizar</a>
        </button>
      </div>
    </div>

    <div class="chef">
      <img src="/img/common/pizza.png" alt="Pizza 4 estações"/>

      <div class="chef-content">
        <strong>Fabiana Melo</strong>

        <button class="btn-no-background">
          <a class="btn-no-background" href="{{ link }}">Visualizar</a>
        </button>
      </div>
    </div>

    <div class="chef">
      <img src="/img/common/espaguete.png" alt="Espaguete"/>

      <div class="chef-content">
        <strong>Júlia Kinoto</strong>

        <button class="btn-no-background">
          <a class="btn-no-background" href="{{ link }}">Visualizar</a>
        </button>
      </div>
    </div>

    <div class="chef">
      <img src="/img/common/lasanha.png" alt="Lasanha"/>

      <div class="chef-content">
        <strong>Juliano Vieira</strong>

        <button class="btn-no-background">
          <a class="btn-no-background" href="{{ link }}">Visualizar</a>
        </button>
      </div>
    </div>

    <div class="chef">
      <img src="/img/common/doce.png" alt="Docinho"/>

      <div class="chef-content">
        <strong>Ricardo Govea</strong>

        <button class="btn-no-background">
          <a class="btn-no-background" href="{{ link }}">Visualizar</a>
        </button>
      </div>
    </div>

    <div class="chef">
      <img src="/img/common/asinhas.png" alt="Asinha"/>

      <div class="chef-content">
        <strong>Vania Steroski</strong>

        <button class="btn-no-background">
          <a class="btn-no-background" href="{{ link }}">Visualizar</a>
        </button>
      </div>
    </div>
  </div>

{% endmacro %}