{% macro chef(hasButton, link, chef, recipes) %}

  <section class="chef-container-show">
    <div class="header-section">
      <h1>Chef:
        {{ chef.name }}</h1>

      {% if hasButton %}
        <a href="/admin/chefs/update/{{ chef.id }}">
          <button>Editar</button>
        </a>
      {% endif %}
    </div>

    <div class="chef-content">
      <img src="{{ chef.image.path }}" alt="{{ chef.name }}"/>

      <h1>{{ chef.name }}</h1>
      <span>
        {% if chef.total_recipes > 1 %}
          {{ chef.total_recipes }}
          receitas
        {% elseif chef.total_recipes === 1 %}
          {{ chef.total_recipes }}
          receita
        {% else %}
          Sem receita
        {% endif %}
      </span>
    </div>

    <h2>Receitas</h2>

    <div class="card-recipes-container">
      {% for recipe in recipes %}
        <div class="card-recipe">
          <img src="{{ recipe.image}}" alt="{{ recipe.title }}"/>

          <div class="card-recipe-content">
            <strong>{{ recipe.title }}</strong>
            <span>por
              {{ recipe.chef_name }}</span>

            <button>
              <a href="{{ link }}/recipes/show/{{ chef.id }}">Visualizar</a>
            </button>
          </div>
        </div>
      {% endfor %}
    </div>

  {% endmacro %}