{% macro modal(route, entity) %}

  <section class="remove-modal-container">
    <div class="remove-modal">
      <h2>Esta operação não pode ser desfeita. <br/> Deseja continuar?</h2>

      <div class="actions-buttons">
        <form method="POST" action="{{ route }}?_method=DELETE">
          <input 
            type="hidden" 
            name="id" 
            value="{{ entity.id }}"
          />

          <button class="remove-now" type="submit">Sim</button>
        </form>

        <button class="remove-canceled" type="button" onclick="ModalDelete.dismiss()">Cancelar</button>
      </div>
    </div>
  </section>

{% endmacro %}