{% macro input(type, name, value, placeholder) %}

  <div class="input-container">
    <input type="{{ type }}" name="{{ name }}" value="{{ value }}" placeholder="{{ placeholder }}"/>
  </div>

{% endmacro %}