{% macro photos(entity, length) %}

  {% if entity.image %}
    <div id="photo-preview">
      <div id="{{ entity.image.id }}" class="photo" onclick="PhotosUpload.removePhoto(event)">
        <img src="{{ entity.image.path }}" alt="{{ entity.name }}"/>
        <i class="material-icons" onclick="PhotosUpload.countRemovedPhotos(event)">close</i>
      </div>
    </div>
  {% else %}
    <div id="photo-preview"></div>
  {% endif %}

  <button type="button" class="choose">
    <input type="file" name="photo" accept="image/*" title="" onchange="PhotosUpload.handleFileInput(event, length)"/>

    Escolher foto
  </button>

  <input type="hidden" name="removedPhotos">

{% endmacro %}