{% macro recipeShow(recipe, session, hasButton, hasToggle) %}

  <section class="recipes-container bottom">
    <div class="header-section">
      <h2>Receita: {{ recipe.title }}</h2>

      {% if hasButton and session.user.userID === recipe.user_id or session.user.isAdmin %}
        <a href="/admin/recipes/update/{{ recipe.id }}">
          <button>Editar receita</button>
        </a>
      {% endif %}
    </div>

    <div class="banner-recipe-show">
      <img 
        src="{{ recipe.image[0].path }}" 
        alt="{{ recipe.title }}" 
        onclick="Lightbox.openModal()"
      />

      <div class="small-banner-view">
        {% for image in recipe.image %}
          <img 
            class="{{ 'photoActivated' if loop.index0 === 0 }}" 
            onclick="ImagesPreview.visible(this)" 
            src="{{ image.path }}" 
            alt="{{ recipe.name }}"
          />
        {% endfor %}
      </div>
    </div>

    <div class="lightbox-container"></div>

    <div class="recipe-container-title">
      <h1>{{ recipe.title }}</h1>
      <span>por {{ recipe.chef_name }}</span>
    </div>

    <div class="recipe-box">
      <div class="header-box">
        <h2>Ingredientes</h2>

        {% if hasToggle %}
          <span>esconder</span>
        {% endif %}
      </div>

      <ul class="box-content">
        {% for ingredient in recipe.ingredients %}
          <li>
            {{ ingredient }}
          </li>
        {% endfor %}
      </ul>

    </div>
    <div class="recipe-box">
      <div class="header-box">
        <h2>Modo de preparo</h2>

        {% if hasToggle %}
          <span>esconder</span>
        {% endif %}
      </div>

      <ul class="box-content">
        {% for step in recipe.preparation %}
          <li>
            {{ step }}
          </li>
        {% endfor %}
      </ul>

    </div>
    <div class="recipe-box">
      <div class="header-box">
        <h2>Informações adicionais</h2>

        {% if hasToggle %}
          <span>esconder</span>
        {% endif %}
      </div>

      <p class="box-content">
        {{ recipe.description }}
      </p>

    </div>
  </section>

{% endmacro %}