{% extends './layout.njk' %}

{% block subTitle %}
  <title>Foodfy | Chefs</title>
{% endblock subTitle %}

{% block content %}

  <section class="recipes-container">

    <div class="recipes chefs">
      <div class="chef">
        <img src="/img/common/burger.png" alt="Búrger"/>

        <div class="chef-content">
          <strong>Jorge Relato</strong>
          <span>3 receitas</span>
        </div>
      </div>

      <div class="chef">
        <img src="/img/common/pizza.png" alt="Pizza 4 estações"/>

        <div class="chef-content">
          <strong>Fabiana Melo</strong>
          <span>3 receitas</span>
        </div>
      </div>

      <div class="chef">
        <img src="/img/common/espaguete.png" alt="Espaguete"/>

        <div class="chef-content">
          <strong>Júlia Kinoto</strong>
          <span>3 receitas</span>
        </div>
      </div>

      <div class="chef">
        <img src="/img/common/lasanha.png" alt="Lasanha"/>

        <div class="chef-content">
          <strong>Juliano Vieira</strong>
          <span>3 receitas</span>
        </div>
      </div>

      <div class="chef">
        <img src="/img/common/doce.png" alt="Docinho"/>

        <div class="chef-content">
          <strong>Ricardo Govea</strong>
          <span>3 receitas</span>
        </div>
      </div>

      <div class="chef">
        <img src="/img/common/asinhas.png" alt="Asinha"/>

        <div class="chef-content">
          <strong>Vania Steroski</strong>
          <span>3 receitas</span>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}