{% extends './layout.njk' %}
{% import '../parts/views/recipe-show.njk' as show %}

{% block subTitle %}
  <title>Foodfy | Triplo Bacon Burger</title>
{% endblock subTitle %}

{% block content %}

  {{ show.recipeShow() }}

{% endblock content %}