{% extends './layout.njk' %}
{% import '../components/recipeShow.njk' as show %}

{% block subTitle %}
  <title>Foodfy | Triplo Bacon Burger</title>
{% endblock subTitle %}

{% block content %}

  {{ show.recipeShow(false, true) }}

{% endblock content %}