{% extends '../layout.njk' %}
{% import './fields.njk' as chef %}

{% block subTitle %}
  <title>Página de Cadastro</title>
{% endblock subTitle %}

{% block content %}

  <form 
    class="admin-container" 
    method="POST" 
    action="/admin/chefs" 
    enctype="multipart/form-data"
  >
    {{ chef.fields('Criando chef', false, true) }}
  </form>

{% endblock content %}