{% import '../../components/inputContainer.njk' as field %}
{% import '../../components/photosUploadContainer.njk' as container %}

{% macro fields(title, chef, isDelete, hasAddInputButton) %}

  <div class="header-section">
    <h1>{{ title }}</h1>

    <div class="header-buttons">
      {% if isDelete %}
        <button 
          class="btn-delete confirm-remove" 
          type="button" 
          onclick="ModalDelete.active()"
        >Deletar</button>
      {% endif %}

      <div class="login-buttons">
        <button type="submit">Salvar chef</button>
      </div>
    </div>
  </div>

  <div id="form-chef">

    <div class="field-container photo-container">
      {{ container.photos(chef, 'chefs') }}
    </div>

    <div class="field-container">
      <label for="name">Nome</label>

      {{ field.input('text', 'name', chef.name, 'Nome do chef') }}
    </div>

  </div>

{% endmacro %}