{% extends '../layout.njk' %}
{% import '../../components/areaSearch.njk' as search %}
{% import '../../components/chefsList.njk' as list %}

{% block subTitle %}
  <title>Página de Receitas</title>
{% endblock subTitle %}

{% block filter %}
  {{ search.area('/admin/chefs', 'Buscar pelo nome') }}
{% endblock filter %}

{% block content %}

  <section class="admin-container">
    <div class="header-section">
      <h1>Gerenciar chefs</h1>

      <a href="/admin/chefs/create">
        <button>Cadastrar</button>
      </a>
    </div>

    {{ list.chefs('/admin/chefs/show', chefs) }}
  </section>

{% endblock content %}