{% extends '../layout.njk' %}
{% import '../../components/areaSearch.njk' as search %}
{% import '../../components/chefsList.njk' as list %}

{% block subTitle %}
  <title>Página de Receitas</title>
{% endblock subTitle %}

{% block filter %}
  {{ search.area('/admin/chefs', filter , 'Buscar pelo nome') }}
{% endblock filter %}

{% block content %}

  <section class="admin-container">
    <div class="header-section">
      {% if not filter %}
        <h1>Gerenciar chefs</h1>
      {% else %}
        <h1>Buscando por: {{ filter }}</h1>
      {% endif %}

      {% if session.user.isAdmin %}
        <a href="/admin/chefs/create">
          <button>Cadastrar</button>
        </a>
      {% endif %}
    </div>

    {{ list.chefs('/admin/chefs/show', chefs) }}

    {% if pagination.total > 1 %}
      <div 
        class="pagination" 
        data-page="{{ pagination.page }}" 
        data-total="{{ pagination.total }}" 
        data-filter="{{ filter }}"
      ></div>
    {% endif %}
  </section>

{% endblock content %}