{% extends '../layout.njk' %}
{% import '../../components/chefShow.njk' as show %}

{% block subTitle %}
  <title>Foodfy |
    {{ chef.name }}</title>
{% endblock subTitle %}

{% block content %}

  {{ show.chef(true, '/admin', chef, recipes, session) }}

{% endblock content %}