<script src="/js/menuLink.js"></script>
<script src="/js/redirectPage.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/toggleContentRecipe.js"></script>
<script src="/js/keepUsers.js"></script>
<script src="/js/toastMessage.js"></script>