{# Global #}
<link rel="stylesheet" href="/styles/global.css"/>
<link rel="stylesheet" href="/styles/components/header.css"/>
<link rel="stylesheet" href="/styles/components/footer.css"/>

{# Public #}
<link rel="stylesheet" href="/styles//public/home.css"/>
<link rel="stylesheet" href="/styles//public/about.css"/>
<link rel="stylesheet" href="/styles//public/chefs.css"/>
<link rel="stylesheet" href="/styles//public/show.css"/>

{# Private #}
<link rel="stylesheet" href="/styles//private/layout.css"/>
<link rel="stylesheet" href="/styles//private/profile.css"/>