.admin-container {
  width: 100%;
  margin-top: 50px;
}

.header-buttons {
  display: flex;
}

.header-buttons button+button {
  margin-left: 16px;
}

#form-profile {
  width: 100%;
  margin-top: 67px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.field-container label {
  font-weight: 700;
}

.field-container input {
  margin-top: 10px;
}

#checkbox {
  display: flex;
  align-items: center;
}

#checkbox input[type=checkbox] {
  min-width: initial;
  margin-top: initial;
  margin-right: 8px;
}

#checkbox span {
  font-weight: 700;
}