@keyframes toastMessage {
  to {
    top: 15px;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes toastMessageDismiss {
  from {
    top: 15px;
    opacity: 1;
    visibility: visible;
  }
  to {
    top: -200px;
    opacity: 0;
    visibility: hidden;
  }
}

.message-container {
  width: 100%;
  max-width: 344px;
  height: 135px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -200px;
  right: 15px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  animation: toastMessage 1s forwards;
  z-index: 1;
}

.message-container.dismiss {
  animation: toastMessageDismiss 1s forwards;
}

.message-container p {
  color: #fff;
  font-weight: 700;
}

.message-container.info {
  background: #13a8ec;
}

.message-container.success {
  background: #01B12A;
}

.message-container.error {
  background: #FF3131;
}