{% extends '../layout.njk' %}
{% import '../../components/areaSearch.njk' as search %}

{% block subTitle %}
  <title>Foodfy | Receitas</title>
{% endblock subTitle %}

{% block filter %}
  {{ search.area('/recipes', 'Buscar uma receita') }}
{% endblock filter %}

{% block content %}

  <section class="recipes-container">
    <h2>Nossas Receitas</h2>

    <div class="recipes">

      {% for recipe in recipes %}
        <div id="{{ recipe.id }}" class="recipe">
          <img src="{{ recipe.image }}" alt="{{ recipe.title }}"/>

          <strong>{{ recipe.title }}</strong>
          <span>por
            {{ recipe.chef_name }}</span>
        </div>
      {% endfor %}

    </div>
  </section>

{% endblock content %}