{% extends '../layout.njk' %}
{% import '../../components/recipeShow.njk' as show %}

{% block subTitle %}
  <title>Foodfy |
    {{ recipe.title }}</title>
{% endblock subTitle %}

{% block content %}

  {{ show.recipeShow(recipe, session, false, true) }}

{% endblock content %}